@page
@model WebApplication4_Razor.Pages.BookList.IndexModel
@{ }
<div class="row">
    <div><h6>Time Left:60 seconds</h6></div>
    <div class="col-12 border-bottom">
        <h2 class="text-danger">Claim Your Free Trail Class</h2>
    </div>
   <div class="col-9"> <h4>Class Schedule</h4></div>
   <div class="col-3"> <h4>Free Seats Left:7</h4></div>
</div>
@*<div class="col-12 p-2">
        @if (Model.Books.Count() > 0)
        {
        <table class="table table-bordered table-striped">
            <thead>
                <tr class=" table table-secondary">
                    <th><label asp-for="Books.FirstOrDefault().Name"></label></th>
                    <th><label asp-for="Books.FirstOrDefault().Author"></label></th>
                    <th><label asp-for="Books.FirstOrDefault().ISBN"></label></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <form method="post">
            <tbody>
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Author</td>
                        <td>@item.ISBN</td>
                        <td>
                            <a asp-page="Upsert" asp-route-id="@item.Id" class="btn btn-link">Edit</a>
                            <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Want To Delete Data?')" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
            </form>
        </table>

        }
        else
        {
            <p>No Data Found</p>
        }
    </div>*@

@*<h2 class="text-info text-capitalize text-center">Or</h2>*@
<div class="table table-bordered table-striped">
    <table id="tbldata" class="table table-bordered">
        <thead>
            <tr class="table-secondary">

                <th>Time</th>
                <th>Date</th>
                <th>Availabilitiy</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ClassSchedules)
            {
            <tr>
                <th>@item.Date</th>
                <th>@item.Time</th>
                <th>@item.Availabilitiy</th>
                <th><button asp-action="AddData(@item.Id)" >Book Now</button></th>
            </tr>

            }
        </tbody>
    </table>
</div>
@*@section Scripts
    {
    <script src="~/js/student.js"></script>
    }*@